* {
  margin: 5px;
  padding: 5px;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
p {
  font-size: 16px;
  line-height: 1.5;
}

#header {
  color: brown;
}

#header-h2 {
  font-size: 36px;
  margin: 0;
  color: darkblue;
}

.listt {
  list-style-type: square;
  padding-left: 20px;
  color: darkgreen;
}

.first-box-container {
  width: 200px;
  height: 100px;
  position: absolute;
  background-color: red;
  border-style: solid;
  border-width: 15px;
  border-color: green;
  text-align: center;
  text-transform: uppercase;
  color: blue;
}

.second-box-container {
  width: 200px;
  height: 100px;
  left: 250px;
  position: absolute;
  background-color: yellow;
  border-style: solid;
  border-width: 15px;
  border-color: red;
  text-align: center;
  text-align: center;
  text-transform: uppercase;
  color: blue;
}

.third-box-container {
  width: 200px;
  height: 100px;
  left: 500px;
  position: absolute;
  background-color: green;
  border-style: solid;
  border-width: 15px;
  border-color: yellow;
  text-align: center;
  text-transform: uppercase;
  color: blue;
}